/* .themify_builder_2369_row.module_row_0 Style */
.themify_builder_2369_row.module_row_0.module_row {
	padding-top : -200px;
	padding-bottom : -200px
}

/* .themify_builder_2369_row.module_row_1 Style */
.themify_builder_2369_row.module_row_1.module_row {
	background-color: #8800ff;
	text-align: center;
	margin-top : -100px;
	margin-bottom : 50px
}

/* .module_row_1 .module_column_0.tb_2369_column Style */
.module_row_1 .module_column_0.tb_2369_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}

.themify_builder .text-2369-1-0-1.module-text { color: #ffffff; margin-top: 30px;  } 
.themify_builder .text-2369-1-0-1.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-1.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-1.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2369-1-0-1.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-1.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-1.module-text h6 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-2.module-text { background-repeat: repeat-x; font-family: Open Sans; color: #ffffff; font-size: 15px; margin-top: -30px;  } 
.themify_builder .text-2369-1-0-2.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-2.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-2.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2369-1-0-2.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-2.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2369-1-0-2.module-text h6 { color: #ffffff;  } 
/* .themify_builder_2369_row.module_row_2 Style */
.themify_builder_2369_row.module_row_2.module_row {
	padding-top : 5px;
	padding-bottom : 5px
}

/* .module_row_2 .module_column_0.tb_2369_column Style */
.module_row_2 .module_column_0.tb_2369_column.module_column {
	padding-top : 60px;
	padding-bottom : 20px
}

.themify_builder .text-2369-2-0-1.module-text { margin-top: 30px;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature { font-family: Open Sans; color: #000000; font-size: 18px; text-align: center; margin-top: -200px;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature .feature-title { font-family: Open Sans; color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature h1 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature h2 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature h3 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature h4 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature h5 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-0-0.module-feature h6 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature { color: #000000; text-align: center; margin-top: -200px;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature .feature-title { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature h1 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature h2 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature h3 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature h4 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature h5 { color: #000000;  } 
.themify_builder .feature-2369-sub_row_2-0-2-1-0.module-feature h6 { color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image .image-content { font-family: Open Sans; color: #000000; font-size: 12px; text-align: left;  } 
.themify_builder .image-2369-2-0-3.module-image .image-title { font-family: Open Sans; color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image .image-title a { font-family: Open Sans; color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image h1 { color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image h2 { color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image h3:not(.module-title) { color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image h4 { color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image h5 { color: #000000;  } 
.themify_builder .image-2369-2-0-3.module-image h6 { color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image .image-content { font-family: Open Sans; color: #000000; text-align: right;  } 
.themify_builder .image-2369-2-0-4.module-image .image-title { font-family: Open Sans; color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image .image-title a { font-family: Open Sans; color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image h1 { color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image h2 { color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image h3:not(.module-title) { color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image h4 { color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image h5 { color: #000000;  } 
.themify_builder .image-2369-2-0-4.module-image h6 { color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image .image-content { font-family: Open Sans; color: #000000; text-align: left;  } 
.themify_builder .image-2369-2-0-5.module-image .image-title { font-family: Open Sans; color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image .image-title a { font-family: Open Sans; color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image h1 { color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image h2 { color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image h3:not(.module-title) { color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image h4 { color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image h5 { color: #000000;  } 
.themify_builder .image-2369-2-0-5.module-image h6 { color: #000000;  } 
/* .module_row_3 .module_column_0.tb_2369_column Style */
.module_row_3 .module_column_0.tb_2369_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}

.themify_builder .text-2369-3-0-1.module-text { margin-top: 30px;  } 
/* .themify_builder_2369_row.module_row_4 Style */
.themify_builder_2369_row.module_row_4.module_row {
	background-color: #07d6b7;
	text-align: center;
	padding-bottom : 60px
}

/* .module_row_4 .module_column_0.tb_2369_column Style */
.module_row_4 .module_column_0.tb_2369_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}

.themify_builder .text-2369-4-0-1.module-text { color: #ffffff; margin-top: 30px;  } 
.themify_builder .text-2369-4-0-1.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-1.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-1.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2369-4-0-1.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-1.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-1.module-text h6 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-2.module-text { background-repeat: repeat-x; color: #ffffff; margin-top: -30px;  } 
.themify_builder .text-2369-4-0-2.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-2.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-2.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2369-4-0-2.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-2.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2369-4-0-2.module-text h6 { color: #ffffff;  } 
/* .themify_builder_2369_row.module_row_5 Style */
.themify_builder_2369_row.module_row_5.module_row {
	background-color: #e0008e;
	color: #ffffff;
	padding-bottom : 60px;
	margin-top : -10px
}
.themify_builder_2369_row.module_row_5.module_row h1 {
	color: #ffffff
}
.themify_builder_2369_row.module_row_5.module_row h2 {
	color: #ffffff
}
.themify_builder_2369_row.module_row_5.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2369_row.module_row_5.module_row h4 {
	color: #ffffff
}
.themify_builder_2369_row.module_row_5.module_row h5 {
	color: #ffffff
}
.themify_builder_2369_row.module_row_5.module_row h6 {
	color: #ffffff
}

/* .module_row_5 .module_column_0.tb_2369_column Style */
.module_row_5 .module_column_0.tb_2369_column.module_column {
	padding-top : 60px;
	padding-bottom : 60px
}

.themify_builder .text-2369-5-0-1.module-text { color: #ffffff; margin-top: 30px;  } 
.themify_builder .text-2369-5-0-1.module-text h1 { color: #ffffff;  } 
.themify_builder .text-2369-5-0-1.module-text h2 { color: #ffffff;  } 
.themify_builder .text-2369-5-0-1.module-text h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .text-2369-5-0-1.module-text h4 { color: #ffffff;  } 
.themify_builder .text-2369-5-0-1.module-text h5 { color: #ffffff;  } 
.themify_builder .text-2369-5-0-1.module-text h6 { color: #ffffff;  } 
.themify_builder .text-2369-5-0-2.module-text { margin-top: -30px;  } 
